<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6d755792-6534-4e8f-9a57-bbab0cd9e02c/resourceGroups/epiazuredemo/providers/Microsoft.Web/sites/epiazuredemo</ResourceId>
    <ResourceGroup>epiazuredemo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epiazuredemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>epiazuredemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>epiazuredemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$epiazuredemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EPiServerAzureEvents" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://epiazuredemoservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Ox7/QEmShQJS3si1o6tpAvgkW07DC/u0NqlDoyGbig8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerAzureEvents_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://epiazuredemoservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Ox7/QEmShQJS3si1o6tpAvgkW07DC/u0NqlDoyGbig8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPiServerAzureBlobs" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=epiazureblob;AccountKey=CC2gm57469b1Rw4fSXiC2FobARtUtXiImJaQOrLPwO/gpw8sS3AmkihUYLULj18qp9nExOIUGl5l6k4X7gyKag==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerAzureBlobs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=epiazureblob;AccountKey=CC2gm57469b1Rw4fSXiC2FobARtUtXiImJaQOrLPwO/gpw8sS3AmkihUYLULj18qp9nExOIUGl5l6k4X7gyKag==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPiServerDB" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:clairanepidemo.database.windows.net,1433;Initial Catalog=epidemo;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:clairanepidemo.database.windows.net,1433;Initial Catalog=epidemo;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:clairanepidemo.database.windows.net,1433;Initial Catalog=epidemo;Persist Security Info=False;User ID=clairan;Password=Kn@sen2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:clairanepidemo.database.windows.net,1433;Initial Catalog=epidemo;Persist Security Info=False;User ID=clairan;Password=Kn@sen2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerAzureBlobs-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerAzureEvents-Web.config Connection String" />
    <MSDeployParameterValue Include="EPiServerDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:clairanepidemo.database.windows.net,1433;Initial Catalog=epidemo;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>